@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-fam-raleway {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.0rem;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 10px 0;
}

.container-fluid {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    height: auto;
    padding: 0 10px;
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.col1 {
    width: 8.333%;
}

.col2 {
    width: 16.666%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 33.333%;
}

.col5 {
    width: 41.666%;
}

.col6 {
    width: 50%;
}

.col7 {
    width: 58.333%;
}

.col8 {
    width: 66.666%;
}

.col9 {
    width: 75%;
}

.col10 {
    width: 83.333%;
}

.col11 {
    width: 91.666%;
}

.col12 {
    width: 100%;
}

.pull-left {
    float: left;
}

.img-responsive {
    width: 100%;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-80 {
    margin-top: 80px;
}

.p-15 {
    padding: 15px;
}

.pos-fixed {
    position: fixed;
}

.m-y-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-y-80 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list2,
.list3 {
    list-style: none;
}

.list2 li,
.list3 li {
    border: 1px dotted black;
    text-align: center;
    padding: 10px 0px;
}

.list2 li:nth-child(1) {
    background-color: black;
    color: white;
    padding: 25px;
}

.list3 li:nth-child(1) {
    background-color: green;
    color: white;
    padding: 25px;
}

.list3 li:last-child {
    background-color: green;
    color: white;
    padding: 25px;
}

.list2 li:last-child {
    background-color: black;
    color: white;
    padding: 25px;
}

.list2 li a,
.list3 li a {
    text-decoration: none;
}

a {
    text-decoration: none;
}